# Auto detect text files and perform LF normalization
* text=auto
help/* linguist-documentation
*.html linguist-detectable=false
*.js linguist-detectable=false
*.css linguist-detectable=false
*.rst linguist-detectable=false
